@mixin display-flex() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin centered() {
  @include display-flex();
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 0;
  padding-top: 3rem;
  font-size: 1.8rem;
  margin-bottom: 2rem;

  @media (min-width: 48rem) {
    padding-top: 5rem;
  }
}

.error-box {
  padding: 0;
  margin: 0.5rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: red;
}

.form-control {
  @include display-flex();
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 30rem;

  label {
    margin-left: -1.5rem;
    color: #256325;
    font-size: 1rem;
    @include display-flex();
    justify-content: center;
    align-items: center;
    cursor: pointer;

    div {
      @include display-flex();
      justify-content: center;
      align-items: center;
      background-color: #256325;
      color: #f5f5f5;
      width: 3rem;
      height: 3rem;
      border: 0.5rem solid #f5f5f5;
      border-radius: 50%;
      margin-right: 1rem;
    }
  }

  .form-input__cover {
    @include display-flex();
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 95%;
    padding: 0;
    border-left: 1px solid #2563254b;

    p {
      margin: 2rem 3rem;
      color: #256325;
      font-weight: bold;
      cursor: pointer;
    }

    &:active {
      background-color: #e6e6e6;
    }

    @media (min-width: 90rem) {
      &:hover {
        background-color: #e6e6e6;
      }
    }

    &:nth-child(5) {
      border: none;
    }
  }

  button {
    border: none;
    border-radius: 50px;
    background-color: #256325;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    color: #fff;
    padding: 0.7rem;
    font-weight: bold;
    margin: 1rem 2rem;
    align-self: flex-end;
    min-width: 8rem;
    cursor: pointer;

    &:disabled,
    &[disabled] {
      background-color: rgba(37, 99, 37, 0.6);
      cursor: not-allowed;
    }
  }
}

.form-input {
  width: 90%;
  text-transform: uppercase;
  margin: 1rem;
  height: 3rem;
  padding: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: #256325;
  -webkit-text-fill-color: #256325;
  border: none;
  border-bottom: 2px Solid #257925;
  border-radius: 0;
  background-color: #2563251a;

  &:hover,
  &:active,
  &:focus {
    border-bottom: 3px Solid #256325;
    font-weight: bold;
    color: #256325;
    &::placeholder {
      color: #256325;
      text-transform: none;
    }
  }

  &::placeholder {
    color: #256325;
    text-transform: none
  }
}

.matric-cover {
  @include display-flex();
  width: 90%;
  margin: 1rem;
}

.matric-input {
  width: 48%;
  margin: 1%;
}

.help-block {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: red;
  margin:  0.5rem 2rem;
}

input.ng-invalid.ng-touched,
input.ng-invalid.ng-touched,
input:-webkit-autofill.ng-invalid.ng-touched {
  color: red;
  background-color: rgba(255, 207, 207, 0.5);
  border-color: red;
  -webkit-text-fill-color: red;

  &:hover,
  &:active,
  &:focus {
    border-color: red;
    font-weight: bold;
    color: red;
    &::placeholder {
      color: red;
    }
  }

  &::placeholder {
    color: red;
  }
}

.loader {
  margin: 0 2rem;
  margin-top: -1.5rem;
  align-self: flex-end;
}
